<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCec_2b8w0jUi3Wl7koRV1ZzHmpKejfEWI</string>
	<key>GCM_SENDER_ID</key>
	<string>800996625032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-7c0af</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-7c0af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800996625032:ios:778d7135255e53a31aad3d</string>
</dict>
</plist>